html{
	background: url('../images/gaming-pattern.png');
}

#name{
	background: #5ba;
	color: white;
	width: 247px;
	height: 89px;
	left: 162px;
	top: 1px;
	right: 409;
	bottom: 90px;
	position: relative;
	line-height: 4;
	text-align: center;
}
ul#nav-bar{
	color: gray;
	float: right;
}
li{
	display: inline;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}